<div class="container">
  <div class="maintitle">
    <h1>ヘルプ</h1>
  </div>
  <div class="subtitle">
    <h2>使い方</h2>
    <div class="help-body">
      <p>
        当サイトは近畿大学電子計算機研究会の書籍管理アプリです。
        書籍の有無や貸出の記録を確認できます。
        当サイトを使用するためには与えられたアカウントでログインする必要があります。
        ログインすることで書籍の詳細ページから本の貸出や返却の連絡、購入希望ページから欲しい本の購入申請が可能です。
        さらに問い合わせページでシステムの不具合や欲しい追加機能を通達することで、よりスマートなアプリにすることができます。
        ※ユーザーページでデフォルトのパスワードからの変更を推奨します。
      </p>
    </div>
  </div>
  <% if current_user.admin_flg %>
  <div class="subtitle">
    <h2>管理者側の使い方</h2>
  <div class="help-body">
    <p>
      あなたは管理者権限を持っています。
      ユーザーページから管理者ページに入ることで、アカウントや書籍の追加や削除などを行うことができます。
      書籍を追加する際にはISBN欄に記入する事Statusにチェックをつける事を忘れないでください。
      アカウントを追加する際にはemail欄にアカウント名を記入してください。
      Admin_flgにチェックをする事で管理者権限を与えることができます。
      また、お知らせページから購入申請や 問い合わせの内容確認ができます。
      お知らせ詳細ページから既読をつけることで、お知らせページから削除することができますが、
      他の管理者も見るので不用意に既読をつけないでください。
    </p>
  </div>
  </div>
  <% end %>
</div>
