<div class="container">
  <%= form_tag "/url" do %>
  <div class="maintitle">
    <h1>購入希望</h1>
  </div>
  <div class="subtitle">
    <h3>欲しい本のAmazonURLを貼ってください</h3>
  </div>
  <form>
  <div class="searchurl">
    <div class="form-group">
      <input name="amazonurl" class="form-control" placeholder="AmazonURL" style="font-size:20px" rows="1">
  </div>
  <div class="form-group">
    <button type="submit" class="btn btn-default sinsei">申請</button>
  </div>
  </div>
<% end %>
</form>
</div>
